/* This CSS rule sets the default font size of the entire document */
html {
  font-size: 16px;
}

/* These CSS rules sets the text direction of the paragraph (RTL or LTR) */
p,
.bpw-from-bot > div,
#input-message {
  direction: ltr;
}

/* This rule changes the color of the text in the input message */
#input-message {
  color: #000000;
}

/* Changes the color of the new message indicator */
.bpw-new-messages-indicator {
  background-color: #4199b4;
  color: #000000;
}

/* Styling for the chat header container */
.bpw-header-container {
  margin: 10px;
  background: #4aa4c0;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: 1px solid;
  border-radius: 15px;
  color: #4aa4c0;
}

/* Styling for the typing bubble */
.bpw-typing-bubble {
  background: #ffffff;
}

/* Styling for the chat bubble content */
.bpw-chat-bubble-content {
  background-color: #4199b4;
  border-radius: 4.5px;
  border: 1px solid transparent;
}

/* Styling for the date container, header name, and header subtitle */
.bpw-date-container,
.bpw-header-name,
.bpw-header-subtitle {
  color: #000000;
}

/* Styling for the layout of the chat bubble. Width, height, border, position and radius of the chat bubble */
.bpw-layout {
  width: 364px !important;
  height: 70vh;
  border-radius: 15px;
  right: 10%;
  bottom: 6%;
  border: 1px solid;
}
/* Responsive design rules for devices with width less than or equal to 767px */
@media screen and (max-device-width: 767px) {
  .bpw-layout {
    width: 100% !important;
    height: 100%;
    right: 0;
    bottom: 0;
    border-radius: 0;
  }
}

/* Changes the fill color of the header icons to white */
.bpw-header-icon,
.bpw-header-icon svg,
.bpw-header-icon svg path {
  fill: #000000 !important;
}

/* Changes the color of the placeholder text in the input message */
#input-message::placeholder {
  color: #000000;
}

/* Styling for the keyboard single choice option */
.bpw-keyboard-single-choice {
  background-color: #37466e;
  border: none;
}

/* Styling for the buttons in the chat interface */
.bpw-button,
.bpw-button-alt {
  background-color: #33798f;
  color: #ffffff;
  border-radius: 15px;
  border: none;
}

/* Styling for hover effect on the buttons in the chat interface */
.bpw-button:hover,
.bpw-button-alt:hover {
  background-color: #4199b4;
}

/* Styling for hyperlinks in the chat interface */
a {
  color: #000000;
  text-decoration: underline;
}

/* Styling for the chat container, including color, scrollbar width and color, and border */
.bpw-chat-container {
  background-color: #37466e;
  scrollbar-width: thin;
  scrollbar-color: #4199b4 #37466e;
  border: none;
}

/* Styling for the chat bubble content when it's from the bot */
.bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: #4199b4;
  color: #ffffff;
}

/* Styling for the chat bubble content when it's from the user */
.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: #4199b4;
  color: #ffffff;
}

/* Styling for the composer section of the chat interface */
.bpw-composer {
  background-color: #37466e;
  border-top: 1px solid #4199b4;
}

/* Styling for the scrollbar in the chat container */
.bpw-chat-container::-webkit-scrollbar,
.bpw-chat-container::-moz-scrollbar {
  width: 10px;
  background-color: #37466e;
  border: none;
}

/* Styling for the avatar of the bot */
.bpw-bot-avatar img,
.bpw-bot-avatar svg {
  background: #ffffff;
  border: 3px solid #000000;
}

/* Styling for the general scrollbar in the web page */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Styling for the track of the general scrollbar and the chat container scrollbar */
::-webkit-scrollbar-track,
.bpw-chat-container::-webkit-scrollbar-track,
.bpw-chat-container::-moz-scrollbar-track {
  background-color: transparent;
}

/* Styling for the thumb of the general scrollbar and the chat container scrollbar */
::-webkit-scrollbar-thumb,
.bpw-chat-container::-webkit-scrollbar-thumb,
.bpw-chat-container::-moz-scrollbar-thumb {
  background-color: #37466e;
  border-radius: 1rem;
  border: 0.5rem solid transparent;
}

/* Styling for the floating button icon in the chat interface */
.bpw-floating-button i svg path {
  fill: #ffffff;
}

/* Styling for the floating button in the chat interface */
.bpw-floating-button {
  background: black;
  border-radius: 52px;
}

/* Styling for the 'powered by' section of the chat interface */
.bpw-powered {
  text-align: center;
  padding: 10px;
  color: #000000;
  background: #37466e;
  font-size: 16px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* Styling for the hyperlinks in the 'powered by' section of the chat interface */
.bpw-powered a {
  color: #000000;
  text-decoration: none;
}

/* Styling for hover effect on the hyperlinks in the 'powered by' section of the chat interface */
.bpw-powered a:hover {
  text-decoration: underline;
}

/* Styling for the send button when it's disabled */
.bpw-send-button:disabled,
.bpw-send-button:disabled:hover {
  opacity: 0.4;
  background-color: var(--theme-primary);
  cursor: default;
}

/* Styling for the send buttons */
.bpw-send-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Styling for the individual send button */
.bpw-send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--spacing-medium);
  background-color: var(--theme-primary);
  padding: 20px;
  width: 24px;
  height: 24px;
  color: transparent;
  cursor: pointer;
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2217%22%20height%3D%2220%22%20viewBox%3D%220%200%201
